body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

h1, p {
    margin: 0;
}

.container {
    margin: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 350px));
    gap: 30px;
}

.card {
    border: 1px solid darkgray;
    padding: 18px;
    border-radius: 6px;
    > p {
        margin: 10px 0 15px;
        word-break: break-word;
    }
    > h1 {
        margin-bottom: 8px;
    }
}

.meta {
    > span {
        margin-right: 8px;
    }
}

.header {
    background-color: cadetblue;
    padding: 20px;

    > a {
        margin-right: 20px;
    }
}